In [10]:
import pandas as pd
import numpy as np

mser = pd.Series(np.random.rand(10), index=[['white','white','white','blue','blue','blue','blue','red','red','red'], ['up','down','right','down','up','down','up','down','left','left']])
mser
    # создали значения индекса и присвоили им наименования, создали 10 рандомных чисел для каждого из значений

mser['white']
    # выбираем значения для определенного значения индекса

mser[:,'up']
    # выбираем все значения up, или указать оба значения если необходимо конкретное значение

    # данные могут быть перестроены и использованы в объекте Dataframe с помощью функции unstack(). Она конвертирует Series с иерархическими индексами в простой Dataframe, где второй набор индексов превращается в новые колонки.
    # Если необходимо выполнить обратную операцию — превратить Dataframe в Series, — используется функция stack().

C:\Users\Максим Феликсович\AppData\Local\Temp\ipykernel_11052\4057911865.py:11: PerformanceWarning: indexing past lexsort depth may impact performance.
  mser[:,'up']

white    0.743275
blue     0.192525
blue     0.293717
dtype: float64

In [ ]:
import pandas as pd
import numpy as np


mframe = pd.DataFrame(np.random.randn(16).reshape(4,4), index=[['white','white','red','red'], ['up','down','up','down']], columns=[['pen','pen','paper','paper'],[1,2,1,2]])

mframe
    # В Dataframe можно определить иерархическое индексирование для строк и колонок. Для этого необходимо определить массив массивов для параметров index и columns.

In [16]:
import pandas as pd
import numpy as np


mframe = pd.DataFrame(np.random.randn(16).reshape(4,4), index=[['white','white','red','red'], ['up','down','up','down']], columns=[['pen','pen','paper','paper'],[1,2,1,2]])

mframe.columns.names = ['objects','id']
mframe.index.names = ['colors','status']

mframe

    # Функция swaplevel() принимает в качестве аргументов названия уровней, которые необходимо поменять относительно друг друга и возвращает новый объект с соответствующими изменениями
mframe.swaplevel('colors','status')

    # А функция sort_index() сортирует данные для конкретного уровня, указанного в параметрах
mframe.sort_index(level='colors')

objects             pen               paper
id                    1         2         1         2
colors status
red    down   -0.982745 -0.000685 -0.643468 -1.470549
       up     -0.034375 -0.510346  0.107422 -0.071186
white  down    0.580400  0.223242  0.419015 -1.610110
       up      0.410428 -0.878253 -1.045066 -0.594007

In [30]:
import pandas as pd
import numpy as np


mframe = pd.DataFrame(np.random.randn(16).reshape(4,4), index=[['white','white','red','red'], ['up','down','up','down']], columns=[['pen','pen','paper','paper'],[1,2,1,2]])

mframe.columns.names = ['objects','id']
mframe.index.names = ['colors','status']
mframe.swaplevel('colors','status')
mframe.sort_index(level='colors')

mframe.xs('red', level='colors').sum()
    # с помощью метода .xs мы выбираем значение и уровень, затем указываем операцию которую хотим выполнить

mframe.xs('pen', axis=1).sum()
    # Если же она необходима для конкретного уровня колонки, например, id, тогда требуется задать параметр axis и указать значение 1.

id
1    0.426181
2   -0.085774
dtype: float64

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\Максим Феликсович\\Documents\\GitHub\\my_data_analyst_road\\test_dataset\\supermarket\\supermarket_sales_sheet1.csv')

df.sort_values(by='Total').head(5)
    # сортируем по окончательной сумме
df.sort_values(by=['Total', 'Payment']).head(5)
    # если необходима сортировка по нескольким признакам или колонкам, то передаем список колонок массивом

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
822,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2/7/2019,14:15,Cash,10.17,4.761905,0.5085,5.9
629,308-39-1707,A,Yangon,Normal,Female,Fashion accessories,12.09,1,0.6045,12.6945,1/26/2019,18:19,Credit card,12.09,4.761905,0.6045,8.2
223,279-62-1445,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,2/21/2019,12:38,Cash,12.54,4.761905,0.6270,8.2
443,192-98-7397,C,Naypyitaw,Normal,Male,Fashion accessories,12.78,1,0.6390,13.4190,1/8/2019,14:11,Ewallet,12.78,4.761905,0.6390,9.5
402,236-86-3015,C,Naypyitaw,Member,Male,Home and lifestyle,13.98,1,0.6990,14.6790,2/4/2019,13:38,Ewallet,13.98,4.761905,0.6990,9.8

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\Максим Феликсович\\Documents\\GitHub\\my_data_analyst_road\\test_dataset\\supermarket\\supermarket_sales_sheet1.csv')

tax = df['Tax 5%'].head(7)
tax
    # скобками мы можем выбрать себе необходимую колонку из объекта типа DataFrame

0    26.1415
1     3.8200
2    16.2155
3    23.2880
4    30.2085
5    29.8865
6    20.6520
Name: Tax 5%, dtype: float64

In [14]:
import pandas as pd
import numpy as np

sr = pd.Series([12,-4,7,9,1,11,54], index=['a','b','c','d', 'e', 'f', 'g'])

sr.rank(method='first')
    # метод first позволяет пронумеровать значения индекса по возрастанию

a    6.0
b    1.0
c    3.0
d    4.0
e    2.0
f    5.0
g    7.0
dtype: float64

In [15]:
import pandas as pd
import numpy as np

sr = pd.Series([12,-4,7,9,1,11,54], index=['a','b','c','d', 'e', 'f', 'g'])

sr.rank(ascending='False')
    # метод first позволяет пронумеровать значения индекса по возрастанию

a    6.0
b    1.0
c    3.0
d    4.0
e    2.0
f    5.0
g    7.0
dtype: float64

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\Максим Феликсович\\Documents\\GitHub\\my_data_analyst_road\\test_dataset\\supermarket\\supermarket_sales_sheet1.csv')

df['Total'].sum()
    # подсчитали сумму по колонке

np.float64(322966.749)