In [6]:
import pandas as pd
import numpy as np

ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
    # Для того чтобы провести переиндексирование объекта Series библиотека pandas предоставляет функцию reindex(). Она создает новый объект Series со значениями из другого Series, которые теперь переставлены в соответствии с новой последовательностью меток.

    # При операции переиндексирования можно поменять порядок индексов, удалить некоторые из них или добавить новые. Если метка новая, pandas добавит NaN на место соответствующего значения.

ser.reindex(['three','four','five','one'])
    # ответ без изменений
    # one      2
    # two      5
    # three    7
    # four     4

    # ответ после измменений
    # three    7.0
    # four     4.0
    # five     NaN
    # one      2.0

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [14]:
import pandas as pd
import numpy as np

sr = pd.Series([1,5,6,3],index=[0,3,5,6]) 
sr.reindex(range(6),method='ffill')

    # Ответ
    # 0    1
    # 1    1
    # 2    1
    # 3    5
    # 4    5
    # 5    6
    # Таблица после заполнения методом ffill

    # Если нужно присваивать значения индексов при интерполяции, необходимо использовать метод bfill

sr.reindex(range(6),method='bfill')
    # 0    1
    # 1    5
    # 2    5
    # 3    5
    # 4    6
    # 5    6

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

In [25]:
import pandas as pd
import numpy as np

data = { 'color': ['red', 'blue', 'yellow', 'black', 'green', 'white'],
        'object': ['ball', 'car', 'ice', 'tea', 'apple', 'clock'],
        'price': [2.45, 310.1, 0.3, 4.31, 5.45, 13.81]}

df = pd.DataFrame(data)
df.columns.name = 'index'
df.reindex(range(4),method='ffill', columns=['color', 'object', 'price'])

    # Переиндексирование можно проводить не только на индексах (строках), но также и на колонках или на обоих. Как уже отмечалось, добавлять новые индексы и колонки возможно, но поскольку в оригинальной структуре есть недостающие значения, на их месте будет NaN.

index   color object   price
0         red   ball    2.45
1        blue    car  310.10
2      yellow    ice    0.30
3       black    tea    4.31

In [27]:
import pandas as pd
import numpy as np

sd = pd.Series(range(6), index=['white','white','blue','green', 'green','yellow'])

sd.drop('blue')
    # объект Series, чтоб удалить одно значение мы прописываем название этого значения
sd.drop(['blue','white'])
    # объект Series, чтоб удалить несколько значений мы прописываем соответствующий массив

white     0
white     1
green     3
green     4
yellow    5
dtype: int64

In [40]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(18).reshape((6,3)), index=['red', 'blue', 'yellow', 'white', 'grey', 'black'], columns=['ball', 'pen', 'pencil'])

frame
    # для удаления значений в DataFrame мы передаем массив или само значение
frame.drop(['yellow', 'black'])
    # аналогично Series передаем либо название значения, либо массив из нескольких значений
frame.drop('ball', axis=1)
    # для удаления колонок, прописываем ось или то же самое с массивом

        pen  pencil
red       1       2
blue      4       5
yellow    7       8
white    10      11
grey     13      14
black    16      17

In [ ]:
    # Базовая операция сложения. Как видно по примеру, некоторые метки есть в обоих структурах, а остальные — только в одной. Если они есть в обоих случаях, их значения складываются, а если только в одном — то значением будет NaN.
    # При использовании Dataframe выравнивание работает по тому же принципу, но проводится и для рядов, и для колонок.