Правильный порядок операторов:


**SELECT** -- перечисление полей результирующей таблицы

**FROM** -- указание источника данных

**WHERE** -- фильтрация данных

**GROUP BY** -- группировка данных

**HAVING** -- фильтрация данных после группировки

**ORDER BY** -- сортировка результирующей таблицы

**LIMIT** -- ограничение количества выводимых записей

#1
Повысьте цену на 5% только на те товары, цена которых превышает 100 рублей. Цену остальных товаров оставьте без изменений. Также не повышайте цену на икру, которая и так стоит 800 рублей. Выведите id и наименования всех товаров, их старую и новую цену. Цену округлять не нужно.

Результат отсортируйте сначала по убыванию новой цены, затем по возрастанию id товара.

Поля в результирующей таблице: product_id, name, old_price, new_price


SELECT product_id,
       name,
       price as old_price,
       case when price <= 100 or
                 name = 'икра' then price
            when price > 100 then price*1.05
            else 0 end new_price
FROM   products
ORDER BY new_price desc, product_id


#2

SELECT product_id,
       name,
       price,
       round(price/120*20, 2) as tax,
       round(price - price/120*20, 2) as price_before_tax
FROM   products
ORDER BY price_before_tax desc, product_id

Таким образом, порядок записи известных нам на текущий момент ключевых слов выглядит так:

**SELECT**

**FROM**

**WHERE**

**ORDER BY**

**LIMIT**

In [ ]:
**#1**

Напишите SQL-запрос к таблице products и выведите всю информацию о товарах, цена которых не превышает 100 рублей. Результат отсортируйте по возрастанию id товара.

Поля в результирующей таблице: product_id, name, price

SELECT product_id,
       name,
       price
FROM   products
WHERE  price <= 100
ORDER BY product_id limit 100


**#2**

Отберите из таблицы user_actions все действия пользователей по созданию заказов, которые были совершены ими после полуночи 6 сентября 2022 года. Выведите колонки с id пользователей, id созданных заказов и временем их создания.

Результат должен быть отсортирован по возрастанию id заказа.

Поля в результирующей таблице: user_id, order_id, time

SELECT order_id,
       user_id,
       time::varchar
FROM   user_actions
WHERE  time > '2022-09-06 00:00'
   and action = 'create_order'
ORDER BY order_id


**#3**
Назначьте скидку 20% на все товары из таблицы products и отберите те, цена на которые с учётом скидки превышает 100 рублей. Выведите id товаров, их наименования, прежнюю цену и новую цену с учётом скидки. Колонку со старой ценой назовите old_price, с новой — new_price.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: product_id, name, old_price, new_price

SELECT product_id, name, price as old_price, price * 0.8 AS new_price
FROM products
WHERE price * 0.8 > 100
ORDER BY product_id


**#4**
Отберите из таблицы products все товары, названия которых либо начинаются со слова «чай», либо состоят из пяти символов. Выведите две колонки: id товаров и их наименования.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: product_id, name

SELECT product_id,
       name
FROM   products
WHERE  split_part(name, ' ', 1) = 'чай'
    or length(name) = 5
ORDER BY product_id


**#5**
Отберите из таблицы products все товары, содержащие в своём названии последовательность символов «чай» (без кавычек). Выведите две колонки: id продукта и его название.

Результат должен быть отсортирован по возрастанию id товара.

Поля в результирующей таблице: product_id, name

SELECT product_id,
       name
FROM   products
WHERE  name like '%чай%'
ORDER BY product_id