Правильный порядок операторов:


**SELECT** -- перечисление полей результирующей таблицы

**FROM** -- указание источника данных

**WHERE** -- фильтрация данных

**GROUP BY** -- группировка данных

**HAVING** -- фильтрация данных после группировки

**ORDER BY** -- сортировка результирующей таблицы

**LIMIT** -- ограничение количества выводимых записей

#1
Повысьте цену на 5% только на те товары, цена которых превышает 100 рублей. Цену остальных товаров оставьте без изменений. Также не повышайте цену на икру, которая и так стоит 800 рублей. Выведите id и наименования всех товаров, их старую и новую цену. Цену округлять не нужно.

Результат отсортируйте сначала по убыванию новой цены, затем по возрастанию id товара.

Поля в результирующей таблице: product_id, name, old_price, new_price


SELECT product_id,
       name,
       price as old_price,
       case when price <= 100 or
                 name = 'икра' then price
            when price > 100 then price*1.05
            else 0 end new_price
FROM   products
ORDER BY new_price desc, product_id


#2

SELECT product_id,
       name,
       price,
       round(price/120*20, 2) as tax,
       round(price - price/120*20, 2) as price_before_tax
FROM   products
ORDER BY price_before_tax desc, product_id

Таким образом, порядок записи известных нам на текущий момент ключевых слов выглядит так:

**SELECT**

**FROM**

**WHERE**

**ORDER BY**

**LIMIT**